#navbar-container {
  background-color: #3b5998;
  color: white;
  display: flex;
  justify-content: space-between;
}

#navbar-container.logged-out {
  height: 42px
}

#navbar-container .right {
  display: flex;
  align-items: center;
  width: 150px;
}

#navbar-container .right > * {
  margin: 8px;
}

.navbar-icon {
  height: 24px;
  width: 24px;
  position: relative;
}

#dropdown {
  display: none;
  position: absolute;
  &.toggled {
    display: block;
  }
}

#navbar-icon {
  cursor: pointer;
}

#logout-button {
  cursor: pointer;
}