.home {
  display: flex;
  justify-content: center;
  margin: 0 231px;
  position: relative;
}

.board-container {
  display: flex;
  justify-content: center;
  min-width: 500px;
}

.post.container {
  width: 100%;
}

.post.index.container {
  margin-top: 12px;
}

.post.item-container {
  margin-bottom: 25px;
  position: relative;
}

.post.item.box {
  padding: 12px 12px 0;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  background-color: white;
  // box-shadow: 2px 4px 5px 0px rgba(103,117,153,1);
}

// .post.item.box:before {
//   background: image-url('options-icon.png');
//   height: 20px;
//   width: 20px;
//   background-size: 100%;
//   background-repeat: no-repeat;
//   background-position: 0px 0px;
//   position: absolute;
//   left: 92%;
//   opacity: 55%;
//   content: '';
// }

.post.item.body {
  font-size: 14px;
  margin-top: 6px;
  padding-bottom: 12px;
}

.comment.container {
  padding: 12px 0;
}

.post-form.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  margin-top: 12px;
  margin-bottom: 25px;
  padding: 12px 12px 0;
  // box-shadow: 2px 4px 5px 0px #677599;
}

.post-form.header {
  color: #4b4f56;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.post-form.modal-trigger.trigger {
  padding: 10px 0px 10px 50px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.post-form.modal-trigger:after {
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #3b5998;
  top: 45%;
  left: 10px;
  content: '';
}

.post-form.modal-trigger.input {
  width: 100%;
  border: none;
  resize: none;
  font-family: inherit;
}

.post-form.form {
  width: 100%;
}

.post-form.body:before {
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #3b5998;
  top: 0;
  left: 10px;
  content: '';
  margin: 12px 0px;
  z-index: 10;
}

.post-form.body {
  font-size: 14px;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 25px 25px 25px 75px;
  resize: none;
  outline: none;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  &:focus {
    outline: none;
  }
}

.post-form.button-container {
  padding: 0 12px 10px;
}

.post-form button {
  box-sizing: border-box;
  height: 28px;
  width: 100%;
  padding: 0 16px;
  color: white;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  background-color: #4267b2;
  border-color: #4267b2;
  border: 1px solid;
  border-radius: 2px;
}

.post-form button:disabled {
  opacity: 70%;
  &:hover {
    cursor: default;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
}

.modal-child {
  position: relative;
  background-color: white;
  width: 540px;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  // box-shadow: 2px 2px 5px 2px rgba(115,115,115,1);
  top: 25%;
  height: fit-content;
}