#home.logged-in {
  display: flex;
  justify-content: center;
  margin: 0 231px;
  margin-top: 12px;
  position: relative;
}

.board-container {
  display: flex;
  justify-content: center;
  min-width: 500px;
  max-width: 500px;
}

.post.container {
  width: 100%;
}

.post.index.container {
  margin-top: 12px;
}

.post.item-container {
  margin-bottom: 25px;
  position: relative;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  background-color: white;
}

.post.item.box {
  padding: 12px 12px 0;
}

.post.item.header-details {
  display: flex;
}

.post.item.profile-picture {
  background-image: image-url('default-profile-picture.png');
  height: 40px;
  width: 40px;
  background-size: 125%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.post.item.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 8px;
}

.post.item.header {
  color: #385898;
  font-size: 14px;
  font-weight: 600;
}

.post.item.date {
  font-size: 12px;
}

.post.item.header-separator {
  height: 16px;
  width: 16px;
  opacity: 55%;
  display: inline-block;
  background-image: image-url('separator-icon.png');
  background-size: 80%;
  background-position: 2px 3px;
  background-repeat: no-repeat;
}

.post.item.body {
  font-size: 14px;
  margin-top: 24px;
  padding-bottom: 12px;
  .photo {
    width: 100%;
  }
}

.post-form.type {
  background-color: #f5f6f7;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 3px 3px 0 0;
  color: #1d2129;
  font-weight: bold;
  line-height: 19px;
  padding: 10px 12px;
}

.post-form.container {
  position: relative;
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  margin-bottom: 25px;
  background-color: white;
}

.post-form-header.container {
  color: #4b4f56;
  background-color: #f5f6f7;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 3px 3px 0 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 19px;
  padding: 10px 12px;
}

.post-form.details {
  display: flex;
}

.post-form.modal-trigger.trigger {
  padding: 23px 12px 13px 12px;
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.post-form.modal-trigger.input {
  width: 100%;
  height: 50px;
  border: none;
  font-family: inherit;
  box-sizing: border-box;
  resize: none;
  outline: none;
}

.post-form.form {
  width: 100%;
}

.post-form.profile-picture {
  background-image: image-url('default-profile-picture.png');
  height: 40px;
  min-width: 40px;
  background-size: 125%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 23px 5px 0px 5px;
}

.post-form.body-container {
  min-height: 80px;
  width: 100%;
  padding: 23px 12px 13px 12px;
}

.post-form.body {
  font-size: 14px;
  font-family: inherit;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: none;
  resize: none;
  outline: none;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  &:focus {
    outline: none;
  }
}

.post-form.photo {
  width: 100%;
}

.post-form.button-container {
  padding: 0 12px 10px;
}

.post-form button {
  box-sizing: border-box;
  height: 28px;
  width: 100%;
  padding: 0 16px;
  color: white;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  background-color: #4267b2;
  border-color: #4267b2;
  border: 1px solid;
  border-radius: 2px;
}

.post-form button:disabled {
  opacity: 70%;
  &:hover {
    cursor: default;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
}

.modal-child {
  position: relative;
  background-color: white;
  width: 540px;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  // box-shadow: 2px 2px 5px 2px rgba(115,115,115,1);
  top: 25%;
  height: fit-content;
}