.comment.container.hidden {
  display: none;
}

.comments-container {
  border-top: 1px solid #dadde1;
}

.comment-item.container,
.comment-form.container {
  display: flex;
  padding: 12px 0;
  margin-top: 4px;
  padding: 4px 12px;
}

.comment-item.profile-picture.container,
.comment-form.profile-picture.container {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  padding: 0;
}

.comment-item.profile-picture.picture,
.comment-form.profile-picture.picture {
  background-image: image-url('default-profile-picture.png');
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.comment-item.item {
  padding: 8px 10px;
  background-color: #f2f3f5;
  border-radius: 18px;
  max-width: 400px;
}

.comment-item.item.hide {
  display: none;
}

.comment-form.form {
  padding: 8px 10px;
  background-color: #f2f3f5;
  border-radius: 18px;
  width: 100%;
}

.comment-form.input {
  width: 100%;
  min-height: fit-content;
  font-family: inherit;
  outline: none;
  border: none;
  resize: none;
  background: transparent;
}

.comment-item.header{
  display: inline-block;
  color: #385898;
  font-size: 13px;
  font-weight: 600;
}

.comment-item.body.content {
  display: inline-block;
  color: #1c1e21;
  font-size: 13px;
  padding-left: 5px;
  word-break: break-word;
}

.comment-menu.container {
  position: relative;
  display: flex;
  align-items: center;
}

.comment-menu.dropdown-button.icon {
  display: none;
  background: image-url('options-icon.png');
  height: 12px;
  width: 12px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  position: relative;
  // top: 12px;
  margin-left: 10px;
  // opacity: 55%;
  content: '';
  cursor: pointer;
}

.comment-menu.dropdown-button.icon.active {
  display: inline-block;
  --fds-x-transition-speed:  0.25s;
  --fds-x-transition-timing-function:  cubic-bezier(0.5, 0, 0.1, 1.15);
}

.comment-menu.container button:focus {
  outline: none;
}

.comment-menu.dropdown-list {
  display: none;
  position: absolute;
  top: 175%;
  left: -48px;
  z-index: 5;
  color: #1d2129;
  padding: 8px 0;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.comment-menu.dropdown-list.active {
  display: block;
}

.comment-menu.dropdown-list:before {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  top: -1%;
  left: 87%;
  margin-top: -5px;
  margin-left: -15px;
  content: '';
  transform: rotate(45deg);
}

.comment-menu.dropdown-item.item {
  background-color: white;
  border: solid #fff;
  border-width: 1px 0;
  color: #1d2129;
  font-size: 12px;
  padding: 0 12px;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: #3b5998;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.comment-menu.dropdown-item.button {
  display: flex;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: 12px;
  border: none;
  border-radius: 0;
  padding: none;
  width: 100%;
}

.edit-comment-form.form.container {
  display: none;
  width: 100%;
}

.edit-comment-form.container.active {
  display: inline-block;
}

.edit-comment-form.input-container {
  padding: 8px 10px;
  background-color: #f2f3f5;
  border-radius: 18px;
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
}

.edit-comment-form.input {
  color: #1c1e21;
  background-color: inherit;
  font-family: inherit;
  font-size: 13px;
  width: 100%;
  resize: none;
  outline: none;
  border: none;
}

.edit-comment-form.cancel {
  display: none;
  color: #385898;
  background-color: inherit;
  font-family: inherit;
  font-size: 9px;
  cursor: pointer;
}

.edit-comment-form.cancel.active {
  display: inline-block;
}
