.errors {
  display: none !important;
  position: absolute;
  z-index: 202;
  color: #fff;
  background-color: #be4b49;
  border: 0;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .35);
  font-size: 13px;
  max-width: 300px;
  padding: 13px;
  &.signup.fname {
    left: -160px;
  }
  &.signup.lname {
    width: fit-content;
    top: 52px;
  }
  &.signup.email, &.signup.password {
    top: 0px;
    left: -345px;
  }
  &.signup.birthday, &.gender {
    left: -345px;
  }
  &.login.email, &.login.password {
    top: 52px;
    left: 0;
    width: max-content;
  }
  &.active {
    display: block !important;
  }
}

.errors {
  &.signup.fname:after,
  &.signup.email:after,
  &.signup.password:after,
  &.signup.gender:after{
    position: absolute;
    width: 10px;
    height: 10px;
    background: #be4b49;
    border-top: 1px solid rgba(0, 0, 0, .35);
    border-right: 1px solid rgba(0, 0, 0, .35);
    top: 25%;
    left: 100%;
    margin-top: -5px;
    margin-left: -5px;
    content: '';
    transform: rotate(45deg);
  }
  &.signup.lname:after,
  &.login.email:after,
  &.login.password:after {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #be4b49;
    border-top: 1px solid rgba(0, 0, 0, .35);
    border-left: 1px solid rgba(0, 0, 0, .35);
    bottom: 100%;
    right: 90%;
    margin-bottom: -5px;
    content: '';
    transform: rotate(45deg);
  }
}

.error-border{
  border: 1px solid red !important;
}

.error-icon {
  display: none !important;
  position: absolute;
  width: 21px;
  height: 21px;
  z-index: 202;
  top: 9px;
  right: 9px;
  background: image-url("error-icon.png");
  background-size: 100%;
  background-repeat: no-repeat;
  &.signup.fname {
    left: 41%
  }
  &.signup.gender {
    top: 50%;
  }
  &.login {
    width: 15px;
    height: 15px;
    top: 17px;
  }
  &.active {
    display: block !important;
  }
}