#main-section {
  min-width: 1012px;
  min-height: 100vh;
  background-color: #edf0f5;
}

#home.logged-out {
  display: flex;
  justify-content: center;
  min-width: 980px;
  min-height: 100vh;
  background-color: #edf0f5;
}
