#navbar-container {
  color: white;
  background-color: #3b5998;
  display: flex;
}

#navbar-container.logged-out {
  color: white;
  justify-content: center;
  min-width: 980px;
}

.navbar.logged-out {
  display: flex;
  justify-content: space-between;
  width: 980px;
  padding: 13px 0px 13px 0px;
  font-size: 12px;
  font-weight: 0;
  & .text-logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
    font-weight: 550;
    padding: 6px 0px 0px 0px;
  }
  #login-form {
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-apart;
    .input-container {
      position: relative;
      padding: 0 0 0 14px;
      label {
        display: flex;
        flex-direction: column;
      }
      input {
        width: 142px;
        padding-bottom: 4px;
      }
    }
    .login-button {
      font-size: 12px;
      font-weight: bold;
      color: white;
      background-color: #4267b2;;
      height: 18px;
      margin-left: 14px;
      padding: 2px 6px;
      border: 1px solid #29487d;
      border-radius: 2px;
      text-shadow: none;
      button {
        font-size: 12px;
        font-weight: bold;
        color: white;
        border: none;
        background-color: initial;
      }
    }
  }
}

#navbar-container.logged-in {
  height: 42px;
  align-items: center;
  justify-content: space-between;
}

.navbar.logged-in {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
  margin-left: 8px;
}

.navbar-icon {
  height: 24px;
  width: 24px;
  &.trigger {
    position: relative;
    cursor: pointer
  }
}

.fb-logo-icon {
  background: image-url("icons-1.png");

  background-repeat: no-repeat;
  overflow: hidden;
  height: 24px;
  width: 24px;
  background-position: 0.5px -426px;
  background-size: 250%;
}

#dropdown {
  display: none;
  top: 30px;
  right: 10px;
  position: absolute;
  &.toggled {
    display: block;
  }
}