#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#cover-container {
  width: 851px;
  position: relative;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  background-color: white;
  .cover-photo-container {
    // Use this when I fill out this component
    // max-height: 315px;
    height: 315px;
  }
  .profile-nav-container {
    height: 43px;
    padding-left: 201px;
    .profile-nav-button {
      padding: 0 17px;
      border-right: 1px solid #e9eaed;
      float: left;
      font-size: 14px;
      font-weight: 600;
      height: 43px;
      line-height: 3.05;
      padding: 0 17px;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
      &:first-of-type {
        border-left: 1px solid #e9eaed;
      }
    }
  }
}

#timeline-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 851px;
  margin-top: 12px;
  .timeline-content {
    width: 323px;
    height: fit-content;
    & > * {
      margin-bottom: 12px;
      padding: 12px;
      border: 1px solid #dddfe2;
      border-radius: 3px;
      background-color: white;
    }
    .header-container {
      display: flex;
      align-items: center;
      color: #1c1e21;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 4px;
      .header {
        margin-left: 8px;
      }
    }
    .intro-container {
      .globe-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: image-url('icons-2.png');
        background-position: 0 -58px;
        background-size: 33px 240px;
      }
      .intro-edit-button {
        width: 100%;
        box-sizing: border-box;
        line-height: 26px;
        margin-bottom: 8px;
        padding: 0 10px;
        color: #4b4f56;
        font-size: 12px;
        font-weight: bold;
        border: 1px solid;
        border-color: #ccd0d5;
        border-radius: 2px;
        background-color: #f5f6f7;
      }
    }
    .timeline-photos-container {
      .timeline-photo-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: image-url('icons-2.png');
        background-position: 0 -34px;
        background-size: 33px 240px;
      }
    }
    .timeline-friends-container {
      .timeline-friend-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: image-url('icons-3.png');
        background-position: 0 0;
        background-size: 25px 151px;
      }
    }
  }
  .board-container {
    max-width: 516px;
  }
}