#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#cover-container {
  width: 851px;
  position: relative;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  background-color: white;
  .cover-photo-container {
    // Use this when I fill out this component
    // max-height: 315px;
    height: 315px;
  }
  .profile-nav-container {
    height: 43px;
    padding-left: 201px;
    .profile-nav-button {
      padding: 0 17px;
      border-right: 1px solid #e9eaed;
      float: left;
      font-size: 14px;
      font-weight: 600;
      height: 43px;
      line-height: 3.05;
      padding: 0 17px;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
      &:first-of-type {
        border-left: 1px solid #e9eaed;
      }
    }
  }
}

#timeline-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 851px;
  margin-top: 12px;
  .timeline-content {
    width: 323px;
    height: fit-content;
    & > * {
      margin-bottom: 12px;
      padding: 12px;
      border: 1px solid #dddfe2;
      border-radius: 3px;
      background-color: white;
    }
    .header-container {
      display: flex;
      align-items: center;
      color: #1c1e21;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 4px;
      .header {
        margin-left: 8px;
      }
    }
    .intro-container {
      .globe-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: image-url('icons-2.png');
        background-position: 0 -58px;
        background-size: 33px 240px;
      }
      .intro-edit-button {
        width: 100%;
        box-sizing: border-box;
        line-height: 26px;
        margin-bottom: 8px;
        padding: 0 10px;
        color: #4b4f56;
        font-size: 12px;
        font-weight: bold;
        border: 1px solid;
        border-color: #ccd0d5;
        border-radius: 2px;
        background-color: #f5f6f7;
      }
    }
    .timeline-photos-container {
      .timeline-photo-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: image-url('icons-2.png');
        background-position: 0 -34px;
        background-size: 33px 240px;
      }
    }
    .timeline-friends-container {
      .timeline-friend-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: image-url('icons-3.png');
        background-position: 0 0;
        background-size: 25px 151px;
      }
    }
  }
  .board-container {
    max-width: 516px;
  }
}

.profile-info {
  background: #fff;
  border: 1px solid #ccd0d5;
  border-radius: 3px;
  margin-top: 12px;
  margin-bottom: 10px;
  width: 851px;
  // min-height: 406px;
  .header-container {
    color: #4b4f56;
    font-size: 20px;
    font-weight: bold;
    background: #f5f6f7;
    border-bottom: 1px solid #d3d6db;
    border-radius: 2px 2px 0 0;
    padding-top: 16px;
    padding-bottom: 12px;
  }
  .see-all {
    color: #385898;
    font-size: 12px;
    font-weight: 600;
    background: #f5f6f7;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #d3d6db;
    display: block;
    padding: 15px 0;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
  }
}

#about-container {
  .profile-icon {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-right: 9px;
  }
  .about-section {
    display: flex;
  }
  .side-bar {
    width: 242px;
    padding-bottom: 8px;
    padding-top: 8px;
    a {
      position: relative;
      display: block;
      padding: 12px 4px 12px 16px;
      &.active:before {
        background-color: #3b5998;
        content: '';
        height: 24px;
        left: 0;
        margin-top: -12px;
        position: absolute;
        top: 50%;
        width: 3px;
      }
    }
  }
  .content {
    border-left: 1px solid #ccc;
    min-height: 280px;
    padding: 30px 24px 0;
    position: relative;
    width: 558px;
  }
}

#friends-container {
  .header-container {
    margin-bottom: 15px;
  }
  .friends-icon {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-right: 9px;
  }
  .friend-index {
    display: flex;
    justify-content: space-evenly;
  }
  .friend-item {
    border: 1px solid #e9ebee;
    display: inline-flex;
    align-items: center;
    margin: 0 0 13px 0;
    padding: 0 10px 0 0;
    position: relative;
    vertical-align: top;
    width: 390px;
    .profile-picture-container {
      display: inline-block;
      margin-right: 10px;
      .profile-picture {
        width: 100px;
        height: 100px;
        border-right: 1px solid rgba(0, 0, 0, .1);
        // Replace when I add images
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .details-container {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      .name {
        display: block;
        color: #385898;
        font-size: 14px;
        font-weight: 600;
        &:hover {
          text-decoration: underline;
        }
      }
      .friend-count {
        display: block;
        color: #90949c;
        font-size: 12px;
        &:hover {
          text-decoration: underline;
        }
      }
      .friendship-status {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        color: #4b4f56;
        background-color: #f5f6f7;
        border: 1px solid #ccd0d5;
        border-radius: 2px;
        box-sizing: border-box;
        font-size: 12px;
        font-weight: bold;
        padding: 0 8px;
        position: relative;
        text-align: center;
        text-shadow: none;
        transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
        &:hover {
          background-color: #ebedf0;
        }
        &.not-friends {
          color: #fff;
          background-color: #4267b2;
          border-color: #4267b2;
          &:hover {
            background-color: #365899;
            border-color: #365899;
          }
        }
      }
    }
  }
}

#photos-container {
  .header-container {
    margin-bottom: 4px;
  }
  .photos-icon {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-right: 9px;
  }
  .photo-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .photo-item {
    .photo {
      width: 206px;
      height: 206px;
      margin: 2px 3px 3px 2px;
    }
  }
}