#logged-out-main {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
  min-width: 980px;
}

#signup-form-container {
  width: 399px;
  display: inline-block;
  & > div#signup {
    & > h2 {
      color: #333;
      font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 5px;
    }
    & > div {
      color: #333;
      font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
      font-size: 19px;
      line-height: 1.26;
      margin-bottom: 20px;
    }
  }
  & > #signup-form {
    & * {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    & div {
      display: block;
    }
    & .credentials {
      display: inline-block;
      background: white;
      border-radius: 5px;
      position: relative;
      & input {
        width: 377px;
      }
    }
    & input {
      color: #90949c;
      font-size: 18px;
      padding: 8px 10px;
      border: 1px solid #ccd0d5;
      border-color: #bdc7d8;
      margin: 0;
    }
    & .label {
      color: #90949c;
      font-size: 16px;
      font-weight: bold;
      height: 21px;
      padding: 10px 0px 5px 0px;
    }
    & select {
      font-size: 13px;
      height: 30px;
      padding: 5px 12px 5px 5px;
      border: 1px solid #ccd0d5;
      #birthday-month {
        width:71px;
      }
      #birthday-day {
        width: 56px;
      }
      #birthday-year {
        width: 65px;
      }
    }
    & option {
      font-weight: normal;
      min-height: 1.2em;
      padding: 0px 2px 1px;
      vertical-align: top;
    }
    & > #signup-name {
      display: inline-block;
      position: relative;
      div {
        display: inline-block;
      }
      input {
        width: 172px;
      }
      & div#signup-fname {
        margin-right: 11px;
      }
    }
    & #signup-email {
      display: inline-block;
      position: relative;
    }
    & #signup-password {
      display: inline-block;
      position: relative;
    }
    & #signup-birthday {
      display: inline-block;
      position: relative;
      width: 100%;
    }
    & > #signup-gender {
      display: inline-block;
      position: relative;
      width: 100%;
      & span {
        border-radius: 4px;
        border-width: 1px;
        display: inline-block;
        padding: 5px 0 5px 4px;
        line-height: 1.34;
        &:first-child {
          margin-right: 4px;
        }
      }
      & input {
        margin: 3px 3px 0px 5px;
      }
      & label {
        font-size: 18px;
        line-height: 18px;
        padding: 0 10px 0 3px;
      }
    }
    & #signup-buttons {
      display: flex;
      justify-content: space-between;
      .button {
        background: linear-gradient(#67ae55, #578843);
        background-color: #69a74e;
        box-shadow: inset 0 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        border: 1px solid;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        text-shadow: 0 1px 2px rgba(0,0,0,.5);
        min-width: 194px;
        padding: 7px 20px;
        text-align: center;
        font-size: 19px;
      }
    }
  }
}

.errors {
  // display: none;
  position: absolute;
  margin-top: -10px;
}