#logged-out-main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 80px 0px;
}

#signup-form-container {
  width: 399px;
  display: inline-block;
  ::placeholder {
    color: #90949c;
  }
  & > div#signup {
    & > h2 {
      color: #333;
      font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 5px;
    }
    & > div {
      color: #333;
      font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
      font-size: 19px;
      line-height: 1.26;
      margin-bottom: 20px;
    }
  }
  & > #signup-form {
    & * {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    & .credentials {
      display: inline-block;
      border-radius: 5px;
      position: relative;
      margin-bottom: 10px;
      & input {
        width: 377px;
      }
    }
    & input {
      font-size: 18px;
      padding: 8px 10px;
      border: 1px solid #bdc7d8;
      margin: 0;
      &[type="text"] {
        background: white;
        border: 1px solid #bdc7d8;
        border-radius: 5px
      }
      &[type="radio"] {
        cursor: pointer;
      }
    }
    & .label {
      color: #90949c;
      font-size: 16px;
      font-weight: bold;
      height: 21px;
      padding: 10px 0px 5px 0px;
    }
    & select {
      font-size: 13px;
      height: 30px;
      padding: 5px 12px 5px 5px;
      border: 1px solid #ccd0d5;
      cursor: pointer;
      #birthday-month {
        width:71px;
      }
      #birthday-day {
        width: 56px;
      }
      #birthday-year {
        width: 65px;
      }
    }
    & option {
      font-weight: normal;
      min-height: 1.2em;
      padding: 0px 2px 1px;
      vertical-align: top;
    }
    & > #signup-name {
      display: inline-block;
      position: relative;
      div {
        display: inline-block;
      }
      input {
        width: 172px;
      }
      & div#signup-fname {
        margin-right: 11px;
      }
    }
    & #signup-email {
      display: inline-block;
      position: relative;
    }
    & #signup-password {
      display: inline-block;
      position: relative;
    }
    & #signup-birthday {
      display: inline-block;
      position: relative;
      width: 100%;
    }
    & #signup-gender {
      display: inline-block;
      position: relative;
      width: 100%;
      & span {
        border: 1px transparent #ccd0d5;
        border-radius: 4px;
        border-width: 1px;
        display: inline-block;
        padding: 5px 0 5px 4px;
        line-height: 1.34;
        &:first-child {
          margin-right: 4px;
        }
      }
      & input {
        margin: 3px 3px 0px 5px;
      }
      & label {
        font-size: 18px;
        line-height: 18px;
        padding: 0 10px 0 3px;
        cursor: pointer;
      }
    }
    & #signup-buttons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .button {
        background: linear-gradient(#67ae55, #578843);
        background-color: #69a74e;
        box-shadow: inset 0 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        border: 1px solid;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        text-shadow: 0 1px 2px rgba(0,0,0,.5);
        width: 194px;
        padding: 7px 20px;
        text-align: center;
        font-size: 19px;
        text-align: center;
        margin: 10px 0px;
        &:hover {
          filter: brightness(105%);
        }
      }
    }
  }
}

#logged-out-info {
  display: inline-block;
  margin-right: 15.999px;
  vertical-align: top;
  width: 565px;
  .logged-out-info-header{
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 36px;
    padding: 42px 0 24px;
    font-size: 28px;
    width: 456px;
  }
  .logged-out-info-row-container {
    margin-top: 14px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .logged-out-info-icon {
    display: inline-block;
    width: 56px;
    height: 56px;
    margin-right: 16px;
    &.news {
      background: image-url("fb-news-icon.png");
      background-size: 100%;
      background-repeat: no-repeat;
      vertical-align: bottom;
      overflow: hidden;
      height: 56px;
      width: 56px;
    }
    &.board {
      background: image-url("fb-timeline-icon.png");
      background-size: 100%;
      background-repeat: no-repeat;
      vertical-align: bottom;
      overflow: hidden;
      height: 56px;
      width: 56px;
    }
    &.search {
      background: image-url("fb-search-icon.png");
      background-size: 100%;
      background-repeat: no-repeat;
      vertical-align: bottom;
      overflow: hidden;
      height: 56px;
      width: 56px;
    }
  }
  .logged-out-info-row {
    color: #666;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    width: 440px;
  }
  .logged-out-info-row-header {
    color: #333;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    margin-right: 2px;
  }
}

p {
  color: #777;
  font-size: 11px;
  width: 316px;
  padding: 10px 0px;
}

.break-line {
  border-top: 1px solid #dddfe2;
}